<article class="archive-article archive-type-<%= post.layout %>">
  <span class="archive-article-date"> <%= date(post.date, "MM-DD") %></span> &nbsp;
  <%- partial('post/title', {class_name: 'archive-article-title'}) %> 
</article>