<% for (var i in theme.aomori_social){ %>
    <a class="social" target="_blank" href="<%- theme.aomori_social[i].url %>">
        <box-icon type='logo' name='<%- theme.aomori_social[i].icon %>'></box-icon>
    </a>
<% } %>